* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
}

.app__container {
  display: grid;
  grid-template-columns: 380px 1fr;

  gap: 24px;

  padding: 24px;

  height: calc(100vh - 90px);
}

.app__left {
  height: fit-content;
}

.app__right {
  overflow-y: auto;

  padding-right: 10px;
}

/* Scrollbar */

.app__right::-webkit-scrollbar {
  width: 8px;
}

.app__right::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 20px;
}

.app__right::-webkit-scrollbar-track {
  background: transparent;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .app__container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .app__right {
    overflow: visible;
  }
}